body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    margin-top : 350px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}